<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1> CHANDRA HARSHITHA GURRALA</h1>
            <p>



                A professionally qualified, solutions-driven, and experienced technical person with extensive knowledge and strong technical background in IT infrastructure management, seeking a position to utilize my skills &amp; abilities in an organization that offers professional growth while being resourceful &amp; flexible. Well-versed with a variety of operating systems, applications, and hardware with a proven ability to master new tools and technologies quickly                 </p>
        </div>
      <a href="https://docs.google.com/file/d/14afmlAUHJElEB7lA8PgARNV1s26gjb9Z/edit?usp=docslist_api&filetype=msword">  <button class="btn btn-success">Resume</button></a>
    </div>

    <div class="col-sm-4">
        
           <img src="/images/me.jpg">
        
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>