<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <form  action="/">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class ="form-control" placeholder="first name">
                    </div>

                    <div class="form-group ">
                        <input type="text" class ="form-control" placeholder="last name">
                    
                    </div>

            </div> 
            <div class="form-group ">
                <input type="email" class ="form-control" placeholder="email">

            </div>
            <div class="form-group ">
                <input type="text" class ="form-control" placeholder="Adress">

            </div>
            <div class="form-group ">
                <input type="text" class ="form-control" placeholder="leave your comments here">

            </div>
             <button type="submit" class="btn btn-primary" >submit</button>
        
           

            </form>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
