<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <section class="portfolio" id="portfolio">
            <div class="container">
                <h2 class="text-center text-uppercase text-secondary mb-0">
                    Projects
                </h2>
                <hr class="star-dark mb-5" />
                <div class="row">
                    <!--Movie Finder-->
                    <div class="col-mn-6 col-lg-4">

                        <p>
                           <strong> Movie Finder - A React-Redux App, that retrieves Movie Data.</strong>
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="/images/glasses.jpg" alt="Movie Finder" />
                <!--church service scheduler-->
                <div class="col-mn-6 col-lg-4">

                    <p>
                       <strong> church service scheduler - schedules the most appropriate time to set meetings according to past events  .
                    </strong></p>
                </div>
            </div>
            <img class="img-fluid" src="/images/portf.jpg" />

            <!--Hospital Management System-->
            <div class="col-mn-6 col-lg-4">
                <a>
                    <p>
                      <strong> H.M.S ---> --Hospital management System that is designed to track patients records and treatment
                        levels</strong>
                    </p>
            </div>
            </div>
            <img class="img-fluid" src="/images/working.jpg" alt="Movie Finder" />
            </a>
            </div>
            </div>
            </div>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>