<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>
   
   
    <main>
        <div class="jumbotron" >
           
          
           <h1>WELCOME</h1>
           <div>
            <H1 style="font-family:new times Roman ;">The geeks of tommorow borrows knowledge from the geeks today , strive to set a good precidence </H1>
           </div>
       

        <div>
           <ul>
            <li>get a quick intro  <a href ="/about"><button class="btn btn-success">here</button></a></p></li>
            <li>Get an insight of my  <a href ="/project"><button class="btn btn-success">projects</button></a></p></li>
             </ul>
            </div>
        </div>
        
    </main>
    <div class="col-sm-4">
        
        <img src="/images/me.jpg">
     
 </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>